<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <div class="container">
        <div class="mt-4">
            <form method="post" action="saveNewCompany">
                <div class="form-group">
                    <label for="name">name</label>
                    <input type="text" class="form-control" id="name"  name="name"/>
                </div>
            
                <div class="form-group">
                    <label for="image">image</label>
                    <input type="text" class="form-control" id="image"  name="image"/>
                </div>
                
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>