<div class="w3-main" style="margin-left:300px;margin-top:43px;">
    <div class="container">
        <div class="mt-4">
            <form method="post" action="saveNewAdmin">
                <div class="form-group">
                    <label for="username">username</label>
                    <input type="text" class="form-control" id="username"  name="username"/>
                </div>

                <div class="form-group">
                    <label for="idAdmin">id admin</label>
                    <input type="number" class="form-control" id="idAdmin"  name="idAdmin"/>
                </div>
                
                <div class="form-group">
                    <label for="fullname">fullname</label>
                    <input type="text" class="form-control" id="fullname"  name="fullname"/>
                </div>

                <div class="form-group">
                    <label for="image">image</label>
                    <input type="text" class="form-control" id="image"  name="image"/>
                </div>

                <div class="form-group">
                    <label for="password">password</label>
                    <input type="password" class="form-control" id="password"  name="password"/>
                </div>
                
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>