        <hr>
        <hr>

        <!-- Footer -->
        <footer class="w3-container w3-center w3-padding-16 w3-light-grey">
            <p>Copyright &copy; 2021 Ultimate Laptop Co., Ltd. - Design: 
            <a class="w3-blue" rel="nofollow noopener" style="text-decoration: none;" href="">NOTME</a></p>
        </footer>
        <!-- End page content -->
        
    </div>