<div class="best-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Laptop chất lượng với <b>Utimate Laptop</b></h2>
                </div>
            </div>
            <div class="col-md-4">
                <div class="left-content">
                    <h4>Bạn đang tìm kiếm 1 chiếc laptop chất lượng phù hợp với nhu cầu sử dụng?</h4>
                    <h6><b>Địa chỉ:</b> 12 Nguyễn Văn Bảo, phường 4, quận Gò Vấp, thành phố Hồ Chí Minh</h6>
                    <h6><b>Email:</b> <a href="mailto:ultimate-laptop@gmail.com" class="fa fa-mail-forward"> &nbsp; ultimate-laptop@gmail.com</a> </h6>
                    <h6><b>Hotline:</b> 190019xx </h6>

                    <a href="" class="filled-button">Về chúng tôi</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="middle-content">
                    <h3>Hệ thống tổng đài miễn phí: <p>(Làm việc từ 9h-18h)</p></h3>
                    <p>- Gọi mua hàng: <b>1900100x</b></p>
                    <p>- Chăm sóc khách hàng: <b>1900190x</b></p>
                    <ul class="featured-list">
                        <li><a href="#">Chính sách bảo hành</a></li>
                        <li><a href="#">Chính sách vận chuyển</a></li>
                        <li><a href="#">Chính sách thanh toán</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="right-image">
                    <img src="/assets/images/feature-image.jpg" alt="">
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/dathongbaobocongthuong.png" height="150px" width="310" alt="">
                        </div>
                        <div class="col-md-4">
                            <iframe width="504" height="283" src="https://www.youtube.com/embed/J2X5mJ3HDYE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-md-4">
                            <button onclick="topFunction()" id="myBtn" title="Go to top">Về đầu trang <i class="fa fa-chevron-circle-up"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-content">
                    <p>Copyright &copy; 2021 Ultimate Laptop Co., Ltd.
                        - Design: <a rel="nofollow noopener" href="https://www.facebook.com/sudaidoanh11/" target="_blank">NOTME</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    //Get the button:
    mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0; // For Safari
        document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
</script>