
<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
    <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
    <a href="/" class="w3-bar-item w3-button w3-hover-blue w3-hover-text-light-grey">  Trang chủ</a>
    <a href="/logout" class="w3-bar-item w3-btn w3-black w3-hover-blue w3-right">Đăng xuất</a>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
    <div class="w3-container w3-row">
        <div class="w3-col s4">
            <img src"" class="w3-circle w3-margin-right" style="width:46px; height: 46px;">
        </div>

        <div class="w3-col s8 w3-bar">
            <span>Welcome, <strong>Doanh</strong></span><br>
            <div class="w3-dropdown-hover">
                <button class="w3-button"><i class="fa fa-cog"></i></button>
                <div class="w3-dropdown-content w3-bar-block w3-border">
                    <a href="/change-password" class="w3-bar-item w3-button">Change Password</a>
                    <a href="/go-to-admin-page/addProduct" class="w3-bar-item w3-button">Thêm sản phẩm</a>
                    <a href="/go-to-admin-page/addNewCompany" class="w3-bar-item w3-button">Thêm công ty</a>
                    <a href="/go-to-admin-page/addNewAdmin" class="w3-bar-item w3-button">Thêm quản trị viên</a>
                </div>
            </div>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            

        </div>
    </div>

    <hr>

    <div class="w3-container">
        <h5>Dashboard</h5>
    </div>

    <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>

        <a href="/go-to-admin-page/manageProducts" class="w3-bar-item w3-button w3-padding">
            <i class="fa fa-paper-plane-o fa-fw"></i>  
                Quản lý sản phẩm   
            <span class="w3-badge w3-green w3-right">12</span> 
        </a>

        <a href="" class="w3-bar-item w3-button w3-padding">
            <i class="fa fa fa-trash fa-fw"></i>  
                Thùng rác 
            <span class="w3-badge w3-green w3-right">12</span> 
        </a>

        <a href="" class="w3-bar-item w3-button w3-padding">
            <i class="fa fa-user fa-fw"></i>  
                Quản lý người dùng   
            <span class="w3-badge w3-green w3-right">12</span> 
        </a>

        <a href="" class="w3-bar-item w3-button w3-padding">
            <i class="fa fa-cog fa-fw"></i>  
                Người dùng đã xóa   
            <span class="w3-badge w3-green w3-right">12</span> 
        </a>
        
        <a href="" class="w3-bar-item w3-button w3-padding">
            <i class="fa fa-sellsy fa-fw"></i>  
                Quản lý dơn hàng    
            <span class="w3-badge w3-green w3-right">12</span> 
        </a>
        
    </div>

</nav>





<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
