<form method="post" action="">
    <div class="form-group">
        <label for="txtName">Username</label>
        <input type="text" class="form-control" id="txtUser" name="txtUser" value="doanhsu">
        <p><span id="checkedUser"></span></p>
    </div>
    <div class="form-group">
        <label for="txtPass">Password</label>
        <input type="password" class="form-control" id="txtPass" name="txtPass" value="">
        <p><span id="checkedPass"></span></p>
    </div>
    <button type="submit" id="submit" class="btn btn-primary">Submit</button>
</form>